.syntax {
  background: #ffffff;
}
.syntax .hll {
  background-color: #ffffcc;
}
.syntax .c {
  color: #606060;
  font-style: italic;
}
.syntax .err {
  color: #F00000;
  background-color: #F0A0A0;
}
.syntax .k {
  color: #208090;
  font-weight: bold;
}
.syntax .o {
  color: #303030;
}
.syntax .cm {
  color: #606060;
  font-style: italic;
}
.syntax .cp {
  color: #507090;
}
.syntax .c1 {
  color: #606060;
  font-style: italic;
}
.syntax .cs {
  color: #c00000;
  font-weight: bold;
  font-style: italic;
}
.syntax .gd {
  color: #A00000;
}
.syntax .ge {
  font-style: italic;
}
.syntax .gr {
  color: #FF0000;
}
.syntax .gh {
  color: #000080;
  font-weight: bold;
}
.syntax .gi {
  color: #00A000;
}
.syntax .go {
  color: #808080;
}
.syntax .gp {
  color: #c65d09;
  font-weight: bold;
}
.syntax .gs {
  font-weight: bold;
}
.syntax .gu {
  color: #800080;
  font-weight: bold;
}
.syntax .gt {
  color: #0040D0;
}
.syntax .kc, .syntax .kd, .syntax .kn {
  color: #208090;
  font-weight: bold;
}
.syntax .kp {
  color: #0080f0;
  font-weight: bold;
}
.syntax .kr {
  color: #208090;
  font-weight: bold;
}
.syntax .kt {
  color: #6060f0;
  font-weight: bold;
}
.syntax .m {
  color: #6000E0;
  font-weight: bold;
}
.syntax .s {
  background-color: #e0e0ff;
}
.syntax .na {
  color: #000070;
}
.syntax .nb {
  color: #007020;
}
.syntax .nc {
  color: #e090e0;
  font-weight: bold;
}
.syntax .no {
  color: #50e0d0;
  font-weight: bold;
}
.syntax .nd {
  color: #505050;
  font-weight: bold;
}
.syntax .ni {
  color: #800000;
}
.syntax .ne {
  color: #F00000;
  font-weight: bold;
}
.syntax .nf {
  color: #50e0d0;
  font-weight: bold;
}
.syntax .nl {
  color: #907000;
  font-weight: bold;
}
.syntax .nn {
  color: #0e84b5;
  font-weight: bold;
}
.syntax .nt {
  color: #007000;
}
.syntax .nv {
  color: #003060;
}
.syntax .ow {
  color: #000000;
  font-weight: bold;
}
.syntax .w {
  color: #bbbbbb;
}
.syntax .mf {
  color: #6000E0;
  font-weight: bold;
}
.syntax .mh {
  color: #005080;
  font-weight: bold;
}
.syntax .mi {
  color: #6060f0;
  font-weight: bold;
}
.syntax .mo {
  color: #4000E0;
  font-weight: bold;
}
.syntax .sb {
  background-color: #e0e0ff;
}
.syntax .sc {
  color: #8080F0;
}
.syntax .sd {
  color: #D04020;
}
.syntax .s2 {
  background-color: #e0e0ff;
}
.syntax .se {
  color: #606060;
  font-weight: bold;
  background-color: #e0e0ff;
}
.syntax .sh {
  background-color: #e0e0ff;
}
.syntax .si {
  background-color: #e0e0e0;
}
.syntax .sx {
  color: #f08080;
  background-color: #e0e0ff;
}
.syntax .sr {
  color: #000000;
  background-color: #e0e0ff;
}
.syntax .s1 {
  background-color: #e0e0ff;
}
.syntax .ss {
  color: #f0c080;
}
.syntax .bp {
  color: #007020;
}
.syntax .vc {
  color: #c0c0f0;
}
.syntax .vg {
  color: #f08040;
}
.syntax .vi {
  color: #a0a0f0;
}
.syntax .il {
  color: #6060f0;
  font-weight: bold;
}

/* Comment */
/* Error */
/* Keyword */
/* Operator */
/* Comment.Multiline */
/* Comment.Preproc */
/* Comment.Single */
/* Comment.Special */
/* Generic.Deleted */
/* Generic.Emph */
/* Generic.Error */
/* Generic.Heading */
/* Generic.Inserted */
/* Generic.Output */
/* Generic.Prompt */
/* Generic.Strong */
/* Generic.Subheading */
/* Generic.Traceback */
/* Keyword.Constant */
/* Keyword.Declaration */
/* Keyword.Namespace */
/* Keyword.Pseudo */
/* Keyword.Reserved */
/* Keyword.Type */
/* Literal.Number */
/* Literal.String */
/* Name.Attribute */
/* Name.Builtin */
/* Name.Class */
/* Name.Constant */
/* Name.Decorator */
/* Name.Entity */
/* Name.Exception */
/* Name.Function */
/* Name.Label */
/* Name.Namespace */
/* Name.Tag */
/* Name.Variable */
/* Operator.Word */
/* Text.Whitespace */
/* Literal.Number.Float */
/* Literal.Number.Hex */
/* Literal.Number.Integer */
/* Literal.Number.Oct */
/* Literal.String.Backtick */
/* Literal.String.Char */
/* Literal.String.Doc */
/* Literal.String.Double */
/* Literal.String.Escape */
/* Literal.String.Heredoc */
/* Literal.String.Interpol */
/* Literal.String.Other */
/* Literal.String.Regex */
/* Literal.String.Single */
/* Literal.String.Symbol */
/* Name.Builtin.Pseudo */
/* Name.Variable.Class */
/* Name.Variable.Global */
/* Name.Variable.Instance */
/* Literal.Number.Integer.Long */
