
      <h3>Filter</h3>

      <ul id="filters" class="option-set clearfix" data-option-key="filter">
        <li><a href="#filter" data-option-value=".metal" class="selected">Aktuell</a></li>
        <li><a href="#filter" data-option-value=".nonmetal">Veranstaltungen</a></li>
        <li><a href="#filter" data-option-value=".alkali, .alkaline-earth">Rezepte</a></li>
        
        
        <li><a href="#filter" data-option-value=".transition">transition</a></li>
        <li><a href="#filter" data-option-value=".post-transition">post-transition</a></li>
        <li><a href="#filter" data-option-value=".inner-transition">inner-transition</a></li>
        <li><a href="#filter" data-option-value=":not(.transition)">not transition</a></li>
        <li><a href="#filter" data-option-value=".metal:not(.transition)">metal but not transition</a></li>
        <li><a href="#filter" data-option-value="*">Alles zeigen</a></li>
        
      </ul>
