
    <h3>Layout</h3>

    <ul id="layouts" class="option-set clearfix" data-option-key="layoutMode">
      <li><a href="#fitRows" data-option-value="fitRows" class="selected">Standard</a></li>
      <li><a href="#cellsByRow" data-option-value="cellsByRow">Zellen</a></li>
      <li><a href="#masonry" data-option-value="masonry" >Masonry</a></li>
<!--      <li><a href="#straightDown" data-option-value="straightDown">straightDown</a></li>-->
<!--      <li><a href="#masonryHorizontal" data-option-value="masonryHorizontal" class="horizontal">masonryHorizontal</a></li>-->
      <li><a href="#fitColumns" data-option-value="fitColumns" class="horizontal">fitColumns</a></li>
      <li><a href="#cellsByColumn" data-option-value="cellsByColumn" class="horizontal">cellsByColumn</a></li>
<!--      <li><a href="#straightAcross" data-option-value="straightAcross" class="horizontal">straightAcross</a></li>-->
    </ul>
