
    <h3>Sortierung</h3>

    <ul id="sort-by" class="option-set clearfix" data-option-key="sortBy">
      <li><a href="#sortBy=original-order" data-option-value="original-order" class="selected" data>Original</a></li>
      <li><a href="#sortBy=name" data-option-value="name">Name</a></li>
      <li><a href="#sortBy=symbol" data-option-value="symbol">Symbol</a></li>
      <li><a href="#sortBy=number" data-option-value="number">Nummer</a></li>
      <li><a href="#sortBy=weight"  data-option-value="weight">Gewicht</a></li>
      <li><a href="#sortBy=category" data-option-value="category">Kategorie</a></li>
      <li><a href="#sortBy=random" data-option-value="random">Zufall</a></li>
    </ul>

    <h3>Sortierreihenfolge</h3>

    <ul id="sort-direction" class="option-set clearfix" data-option-key="sortAscending">
      <li><a href="#sortAscending=true" data-option-value="true" class="selected">Aufsteigend</a></li>
      <li><a href="#sortAscending=false" data-option-value="false">Absteigend</a></li>
    </ul>
