/* line 2, ../_sass/toc.scss */
#toc, .toc, .mw-warning {
  background-color: #F9F9F9;
  border: 1px solid #AAAAAA;
  font-size: 95%;
  padding: 5px;
}

/* line 8, ../_sass/toc.scss */
#toc h2, .toc h2 {
  border: medium none;
  display: inline;
  font-size: 100%;
  font-weight: bold;
  padding: 0;
}

/* line 15, ../_sass/toc.scss */
#toc #toctitle, .toc #toctitle, #toc .toctitle, .toc .toctitle {
  text-align: center;
}

/* line 18, ../_sass/toc.scss */
#toc ul, .toc ul {
  list-style-image: none;
  list-style-type: none;
  margin-left: 0;
  margin-bottom: 0;
  padding-left: 0;
  text-align: left;
}

/* line 26, ../_sass/toc.scss */
#toc ul ul, .toc ul ul {
  margin: 0 0 0 2em;
}

/* line 29, ../_sass/toc.scss */
#toc .toctoggle, .toc .toctoggle {
  font-size: 94%;
}

/* line 33, ../_sass/toc.scss */
#toc ul li {
  list-style-type: none;
  padding-left: 0;
}

/* line 38, ../_sass/toc.scss */
#toc-container {
  margin-bottom: 10px;
}
