<!DOCTYPE html>
<html lang="de">
  <head>
    <meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="">
<meta name="keywords" content="HTML, CSS, JS, JavaScript, framework, bootstrap, front-end, frontend, web development, showcase, expo">
<meta name="author" content="Mark Otto, Nicole Bartelt">

<title>
  
    Cecchi &middot; Bootstrap Expo
  
</title>

<link href="/css/bootstrap-expo.css" rel="stylesheet">

<!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
<!--[if lt IE 9]>
  <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
  <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
<![endif]-->

<!-- RSS Feed -->
<link rel="alternate" type="application/rss+xml" title="RSS" href="/feed.xml">

<!-- Favicons -->
<link rel="apple-touch-icon-precomposed" sizes="144x144" href="/ico/apple-touch-icon-144-precomposed.png">
<link rel="shortcut icon" href="/ico/favicon.ico" type="image/x-icon">


    <!-- Twitter Cards -->
    <meta name="twitter:card" content="photo">
    <meta name="twitter:site" content="@twbootstrap">
    <meta name="twitter:author" content="@mdo">
    <meta name="twitter:title" content="Cecchi">
    <meta name="twitter:image:src" content="http://mamp:8888//screenshots/cecchi.jpg">
    <meta name="twitter:image:width" content="1200">
    <meta name="twitter:image:height" content="900">
  </head>
  <body>

    <div class="masthead">
  <h1 class="masthead-title">
    <a href="/">http://mamp:8888/</a>
  </h1>
  <p class="masthead-lead">
    Beautiful and inspiring uses of <a href="">Bootstrap</a>, curated by <a href="https://twitter.com/mdo">@mdo</a>.
  </p>

  <hr class="masthead-hr">

  <ul class="masthead-nav">
    <li class="nav-item">
      <a class="nav-link" href="/">Home</a>
    </li>

    
    
      
        
      
    
      
        
      
    
      
        
      
    
      
        
      
    
      
    
      
        
      
    
      
        
      
    
      
        
      
    
      
        
      
    
      
        
      
    
      
        
      
    
      
        
      
    
      
        
      
    
      
        
      
    
      
        
      
    
      
        
      
    
      
        
      
    
      
        
      
    
  </ul>

  <hr class="masthead-hr">

  <ul class="masthead-nav">
    <li class="nav-item">
      <a class="nav-link" href="/about#suggestions">Suggest a site</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/atom.xml" target="_blank">RSS feed</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="https://twitter.com/twbootstrap" target="_blank">Twitter</a>
    </li>
  </ul>

  <hr class="masthead-hr">

  <div id="carbonads-container"><div class="carbonad"><div id="azcarbon"></div><script>var z = document.createElement("script"); z.type = "text/javascript"; z.async = true; z.src = "http://engine.carbonads.com/z/32292/azcarbon_2_1_0_HORIZ"; var s = document.getElementsByTagName("script")[0]; s.parentNode.insertBefore(z, s);</script></div></div>

</div>


    <div class="listing">

      <div class="entry">
        <a class="entry-thumb" href="http://www.cecchi.net/" title="Visit Cecchi">
          <img src="/screenshots/cecchi.jpg">

          <span class="icon icon-forward entry-icon"></span>
        </a>
        <div class="entry-content">
          <h2 class="entry-title">
            <a href="/cecchi.html">Cecchi</a>
          </h2>
          <p class="entry-date">July 19 2013</p>
        </div>

        <div class="related">
          <h3 class="related-title">More from the Expo</h3>
          <div class="row">
            
              <div class="col-sm-4">
                <div class="entry">
                  <a class="entry-thumb" href="/code/snippets.html" title="Visit Snippets">
                    [Syntax highlighting](http://en.wikipedia.org/wiki/Syntax_highlighting) is a feature that displays source code, in different colors and fonts according to the category of terms. This feature facilitates writing in a structured language such as a programming language or a markup language as both structures and syntax errors are visually distinct. Highlighting does not affect the meaning of the text itself; it is intended only for human readers.

### Pygments Code Blocks

To modify styling and highlight colors edit `/assets/less/pygments.less` and compile `main.less` with your favorite preprocessor. Or edit `main.css` if that's your thing, the classes you want to modify all begin with `.highlight`.

{% highlight css %}
#container {
    float: left;
    margin: 0 -240px 0 0;
    width: 100%;
}
{% endhighlight %}

Line numbering enabled:

{% highlight html linenos %}
{% raw %}
<nav class="pagination" role="navigation">
    {% if page.previous %}
        <a href="{{ site.url }}{{ page.previous.url }}" class="btn" title="{{ page.previous.title }}">Previous article</a>
    {% endif %}
    {% if page.next %}
        <a href="{{ site.url }}{{ page.next.url }}" class="btn" title="{{ page.next.title }}">Next article</a>
    {% endif %}
</nav><!-- /.pagination -->
{% endraw %}
{% endhighlight %}

{% highlight ruby %}
module Jekyll
  class TagIndex < Page
    def initialize(site, base, dir, tag)
      @site = site
      @base = base
      @dir = dir
      @name = 'index.html'
      self.process(@name)
      self.read_yaml(File.join(base, '_layouts'), 'tag_index.html')
      self.data['tag'] = tag
      tag_title_prefix = site.config['tag_title_prefix'] || 'Tagged: '
      tag_title_suffix = site.config['tag_title_suffix'] || '&#8211;'
      self.data['title'] = "#{tag_title_prefix}#{tag}"
      self.data['description'] = "An archive of posts tagged #{tag}."
    end
  end
end
{% endhighlight %}


### Standard Code Block

    {% raw %}
    <nav class="pagination" role="navigation">
        {% if page.previous %}
            <a href="{{ site.url }}{{ page.previous.url }}" class="btn" title="{{ page.previous.title }}">Previous article</a>
        {% endif %}
        {% if page.next %}
            <a href="{{ site.url }}{{ page.next.url }}" class="btn" title="{{ page.next.title }}">Next article</a>
        {% endif %}
    </nav><!-- /.pagination -->
    {% endraw %}


### Fenced Code Blocks

To modify styling and highlight colors edit `/assets/less/coderay.less` and compile `main.less` with your favorite preprocessor. Or edit `main.css` if that's your thing, the classes you want to modify all begin with `.coderay`. Line numbers and a few other things can be modified in `_config.yml` under `coderay`.

~~~ css
#container {
    float: left;
    margin: 0 -240px 0 0;
    width: 100%;
}
~~~

~~~ html
{% raw %}<nav class="pagination" role="navigation">
    {% if page.previous %}
        <a href="{{ site.url }}{{ page.previous.url }}" class="btn" title="{{ page.previous.title }}">Previous article</a>
    {% endif %}
    {% if page.next %}
        <a href="{{ site.url }}{{ page.next.url }}" class="btn" title="{{ page.next.title }}">Next article</a>
    {% endif %}
</nav><!-- /.pagination -->{% endraw %}
~~~

~~~ ruby
module Jekyll
  class TagIndex < Page
    def initialize(site, base, dir, tag)
      @site = site
      @base = base
      @dir = dir
      @name = 'index.html'
      self.process(@name)
      self.read_yaml(File.join(base, '_layouts'), 'tag_index.html')
      self.data['tag'] = tag
      tag_title_prefix = site.config['tag_title_prefix'] || 'Tagged: '
      tag_title_suffix = site.config['tag_title_suffix'] || '&#8211;'
      self.data['title'] = "#{tag_title_prefix}#{tag}"
      self.data['description'] = "An archive of posts tagged #{tag}."
    end
  end
end
~~~
                  </a>
                  <div class="entry-content">
                    <h4 class="entry-title">
                      <a href="/code/snippets.html">Snippets</a>
                    </h4>
                    <p class="entry-date">May 31, 2014</p>
                  </div>
                </div>
              </div>
            
              <div class="col-sm-4">
                <div class="entry">
                  <a class="entry-thumb" href="/nick-dimatteo.html" title="Visit Nick DiMatteo">
                    <img src="/screenshots/nick-dimatteo.jpg">

                  </a>
                  <div class="entry-content">
                    <h4 class="entry-title">
                      <a href="/nick-dimatteo.html">Nick DiMatteo</a>
                    </h4>
                    <p class="entry-date">March 7, 2014</p>
                  </div>
                </div>
              </div>
            
              <div class="col-sm-4">
                <div class="entry">
                  <a class="entry-thumb" href="/20jeans.html" title="Visit 20jeans">
                    <img src="/screenshots/20jeans.jpg">

                  </a>
                  <div class="entry-content">
                    <h4 class="entry-title">
                      <a href="/20jeans.html">20jeans</a>
                    </h4>
                    <p class="entry-date">March 7, 2014</p>
                  </div>
                </div>
              </div>
            
          </div>
        </div>

      </div>
    </div>

    <!-- Analytics -->
<script>
  var _gauges = _gauges || [];
  (function() {
    var t   = document.createElement('script');
    t.type  = 'text/javascript';
    t.async = true;
    t.id    = 'gauges-tracker';
    t.setAttribute('data-site-id', '51341359613f5d301800006c');
    t.src = '//secure.gaug.es/track.js';
    var s = document.getElementsByTagName('script')[0];
    s.parentNode.insertBefore(t, s);
  })();

  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
  ga('create', 'UA-146052-14', 'getbootstrap.com');
  ga('send', 'pageview');
</script>


  </body>
</html>
