<!doctype html>
<!--[if lt IE 7]><html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="de"> <![endif]-->
<!--[if (IE 7)&!(IEMobile)]><html class="no-js lt-ie9 lt-ie8" lang="de"><![endif]-->
<!--[if (IE 8)&!(IEMobile)]><html class="no-js lt-ie9" lang="de"><![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="de"><!--<![endif]-->
<html>
<head>
{% include abtminimeta.html %}
{% include abtminihead_slate.html %}
</head>
<body id="{{ page.title }}">

<!--<div id="fb-root"></div>-->
<!--<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/de_DE/sdk.js#xfbml=1&version=v2.0";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>-->
    <div id="wrap">
      <script src="js/bsa.js"></script>
{% include browser-upgrade.html %}
{% include abtfixedoben.html %}

<div class="container" id="main" role="main">
<!--<div class="row" id="abstand" class="hidden-sm"></div>-->
<div class="eilmeldung">
  <div class="container">
      <small>Looking for Bootstrap 2.3.2 docs? We've moved it to a new home while we push forward with Bootstrap 3. Read the blog for details.</small>
  </div>
</div>

<div class="row">
  <div class="col-lg-3 col-md-3 col-sm-4 col-xs-4 hidden-xs">
    <ul class="nav nav-pills nav-stacked">
     <li class="active"><a href="#">Home</a></li>
     <li><a href="#">Profile</a></li>
     <li><a href="#">Messages</a></li>
   </ul>
 </div>
  <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
    <h2 class="">{{ page.title }}</h2>
    {{ content }}
  </div>
</div>
</div>
</div>
<div class="footer-wrapper">
    {% include abtfooter.html %}
</div>
<!--{% include google_analytics.html %}-->
{% include abtscripts.html %}          
</body>
</html>
