<!doctype html>
<!--[if lt IE 7]><html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="de"> <![endif]-->
<!--[if (IE 7)&!(IEMobile)]><html class="no-js lt-ie9 lt-ie8" lang="de"><![endif]-->
<!--[if (IE 8)&!(IEMobile)]><html class="no-js lt-ie9" lang="de"><![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="de"><!--<![endif]-->
<html>
<head>
{% include abtminimeta.html %}
{% include abtminihead_slate.html %}
</head>
<body id="page-top" data-spy="scroll" data-target=".navbar-fixed-top">
<div id="wrap">
{% include browser-upgrade.html %}
{% include abtscrolloben.html %}
<div class="container" id="main" role="main">





<section id="intro" class="intro-section">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h1>Scrolling Nav</h1>
                    <div class="page-scroll">
                        <a class="btn btn-default" href="#about">Click me!</a>
                    </div>
                    <br>
                    <p>example</p>
                </div>
            </div>
        </div>
    </section>

    <section id="about" class="about-section">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h1>About Section</h1>
                </div>
            </div>
        </div>
    </section>

    <section id="services" class="services-section">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h1>Services Section</h1>
                </div>
            </div>
        </div>
    </section>

    <section id="contact" class="contact-section">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h1>Contact Section</h1>
                </div>
            </div>
        </div>
    </section>

    <!-- Core JavaScript Files -->
    <script src="js/vendor/jquery.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/jquery.easing.min.js"></script>
    <script src="js/scrolling-nav.js"></script>          
</body>
</html>

