<!doctype html>
<!--[if lt IE 7]><html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="de"> <![endif]-->
<!--[if (IE 7)&!(IEMobile)]><html class="no-js lt-ie9 lt-ie8" lang="de"><![endif]-->
<!--[if (IE 8)&!(IEMobile)]><html class="no-js lt-ie9" lang="de"><![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="de"><!--<![endif]-->
<head>
{% include head.html %}
</head>
<body id="page" {% if page.image.feature %}class="feature"{% endif %}>
<div id="wrap">
{% include browser-upgrade.html %}
{% include dropdown_nav_alm.html %}
<div class="container" id="main" role="main">
    {{ content }}
</div>
<div class="container" id="share" role="share">
	{% include sharebuttons.html %}
</div>

</div>
<div class="footer-wrapper">
  <footer role="contentinfo">
    {% include footer.html %}
  </footer>
{% include JB/analytics %}
</div>
{% include scripts.html %}          
</body>
</html>
